.page-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    > * {
        width: 13em;
        text-align: center;
        margin: 1em;
    }
}

.page-preview {
    border: 1px solid #999;
    padding: 1em;
    &--fadeout {
        opacity: 0.5;
        transform: scale(0.5, 0.5);
    }
}

.page__close {
    float: right;
    font-size: 2em;
    margin-top: -0.5em;

    a {
        text-decoration: none;
    }
}

.page__title {
    font-size: 1.4em;
}